<!-- /app/Resources/views/base.html.twig -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="favicon.ico">

    <!-- STYLESHEET -->
    {% block stylesheets %}
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
        <link rel="stylesheet" href="{{ asset('css/my-style.css') }}">
    {% endblock %}

</head>

<body>
<!-- BODY -->
{% block body %}


    <!-- HEADER -->
    {% block header %}
        {% include 'default/menu_bar_top.html.twig' %}
    {% endblock %}

    {% if (is_granted("IS_AUTHENTICATED_REMEMBERED") or app.request.get('_route') == 'fos_user_security_login' or app.request.get('_route') == 'fos_user_registration_register')  %}

    <!-- CONTENT -->
    {% block main_content %}

    {% endblock %}

    {% else %}
    <div class="span7 text-center">Please Login to view topics... </div>
    {% endif %}
    <!-- FOOTER -->
    {% block footer %}

    {% endblock %}


    <!-- JAVASCRIPT -->
    {% block javascripts %}
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
    {% endblock %}

{% endblock %}
</body>
</html>