/* web/css/my-style.css */
body {
    padding-top: 75px;
}
.mynavbar {
}


.btn-glyphicon { padding:8px; background:#ffffff; margin-right:4px; }
.icon-btn { padding: 1px 15px 3px 2px; border-radius:50px;}


.thumbnail {
    padding:0px;
}
.panel {
    position:relative;
}


