{% extends 'base.html.twig' %}

{% block main_content %}
    <div class="container" style="margin-top: 75px">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <h4>Tag:   {{ tag.title }}</h4>
                <p style="margin-left: 42px; margin-bottom: 50px">{{ tag.description }}</p>
                <table class="table table-striped center">
                    <thead>
                    <tr>
                        <th>Name</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for topic in tag.topics %}
                        <tr>
                            <td>{{ topic.headline }}</td>
                            <td>
                                <div class="pull-right"><a href="{{ path('watchTopic', {'id':  topic.id}) }}">View
                                        Posts</a></div>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

{% endblock %}